@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Montserrat", serif;
}

.text1 {
  text-align: center;
}

.box-with-shadow {
  display: flex;
  /* Ширина блока */
  width: 250px;
  /* Внутренние отступы */
  padding: 10px;
  /* наружние отступы */
  margin: 5px;
  /* Цвет фона в элементе */
  background-color: white;
  /* Сделаем видимую границу элементу */
  border: 1px solid #333;
}

.box-with-shadow:hover {
  /* Свойство отвечающее за формирование тени 
   8px - отступ по оси Х
   10px - отступ по оси Y
   5px - радиус размытия тения
   2px - радиус распространения
   rgba - функция формирующая цвет тени
  */
  box-shadow: 8px 10px 10px 5px rgba(9, 9, 36, 0.2);
}